*{
    box-sizing: border-box;
    Margin: 0;
    Padding:0; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }

header {
    padding: 40px;
    background: rgb(155, 85, 6);
    color: #fff;
  }   

  h1 {
      font-size: xx-large;
      padding-bottom: 20px;
  }

  header aside {
      /* display: flex; */
      text-align: right;
  }

  a{
      padding-right: 8px;
  }

  main{
      display: flex;
      padding: 40px;
  }

  main aside {
      display: flex inline;
      flex: 1;
      text-align: left;
  }

  h2 {
      padding-bottom: 4px;
  }

  article section img{
      width: 40%;
      padding: 8px;
  }

  article header {
      background-color: rgb(155, 85, 6);
      text-align: center;
      padding: 20px;
  }

  article section {
      text-align: center;
  }

  .Projects{
    flex: 4;
    background-color: #fff;
    padding: 10px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .Individual {
    border-radius: 5px;
    border-style: double;
    flex: 0 0 400px;
    padding: 12px;
    margin: 20px;
  }

  footer{
      padding: 16px;
      text-align: center;
      background-color: black;
      color: #fff;
  }